@model DesignPattern.CQRS.PresentationLayer.CQRS.Results.UniversityResult.GetUniversityByIDQueryResult
@{
    Layout = null;
}

<div class="container">
    @Html.DisplayFor(x=>x.UniversityID)
    <br />
    @Html.DisplayFor(x=>x.Name)
    <br />
    @Html.DisplayFor(x=>x.Population)
    <br />
</div>
