@model DesignPattern.CQRS.PresentationLayer.CQRS.Commands.StudentCommands.CreateStudentCommand
@{
    Layout = null;
}

<br />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <form method="post">
        <label>Adınız</label>
        <input type="text" asp-for="Name" class="form-control" />
        <br />
        <label>Soyadınız</label>
        <input type="text" asp-for="Surname" class="form-control" />
        <br />
        <button class="btn btn-outline-primary">Öğrenciyi Ekle</button>
    </form>
</div>
