@model DesignPattern.CQRS.PresentationLayer.CQRS.Results.StudentResult.GetStudentByIDQueryResult
@{
    Layout = null;
}

<br />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <label>ID</label>
    <input type="text" asp-for="StudentID" class="form-control" />
    <br />
    <label>Ad</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Soyad</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />
    <label>Mail</label>
    <input type="text" asp-for="Mail" class="form-control" />
    <br />
</div>
